This is the pages/index.html

<br/>
<?=$data['test_content']?>

<div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2">HEADER WILL BE HERE</h1>

        <h5 class="animated fadeIn mb-1">Thank you for using our product. We're glad you're with us.</h5>

        <p class="animated fadeIn text-muted">

        </p>
    </div>
    <span>
            <?=__('lng.test', 'default value')?></span>
</div>
